body{
  color: white;
}

.container {
  width: 50%;
  margin: 100px auto;
  background-color: green;
  padding: 5%;
}

/* Input Form */
.input-form{
  display: flex;
  justify-content: center;
}

.inputFeild{
  margin: 0 5%;
  border-radius: 10%;
  padding: 10px;
}

.unit-selector {
  display: flex;
  align-items: center;
  margin: 0 5%;
}

.unit-label {
  
}

/* Today Content */

.today-content {

  background-color: skyblue;
  border-radius: 10%;
  padding: 20px;
  margin: 20px;

 
}


/* Cards */
.future-date-container{
  display: flex;
  overflow: auto;

}

.future-date-card{
  background-color: skyblue;
  border-radius: 10%;
  padding: 20px;
  margin: 20px;
}


/* Unit Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.weather-icon {
  display: flex;
  align-items: center;
}

@media (max-width: 720px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .future-date-container{
    flex-direction: column;
  
  }

}
